@using PersonalWebsite.Services.Models
@using PersonalWebsite.Common.Enums
@model AddPostViewModel
@{
    Layout = "_AdminLayout";
}
<script src="~/lib/ckeditor/ckeditor.js"></script>
<form asp-controller="Post" asp-action="Add" method="post" role="form" id="post-form">
    <div class="row">
        <div class="col-md-10">
            <div class="card card-block">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input  asp-for="Title" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Excerpt"></label>
                    <input asp-for="Excerpt" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" class="ckeditor"></textarea>
                    
                </div>
            </div>
        </div>
        <div class="col-md-2 post-edit-sidebar">
            <div class="card card-block">
                <input type="button" value="Add post" class="btn btn-default" id="submit-button" />
                <input type="button" value="Cancel" class="btn btn-default" />

                <div class="form-group">
                    <label asp-for="Status"></label>
                    @Html.DropDownListFor(x => x.Status, Html.GetEnumSelectList(typeof(PostStatusType)), new { @class = "form-control" })
                </div>
            </div>
            <div class="card card-block">
                Category: <br />
                @Html.EditorFor(x => x.Categories)
            </div>
            <div class="card card-block" id="Tags">
                Tags:
                <br/>
                <input type="text" id="tag-input" class="form-control"/>
                <br />
                <div id="tag-list">
                    @foreach (var tag in Model.Tags)
                    {
                        <span class="tag tag-primary" data-tagname="@tag"><a href="#" class="tag-remove-button" id="tag-@tag" onclick="PostTag.RemoveTag('tag-@tag')"><i class="fa fa-times" aria-hidden="true"></i></a> @tag</span>
                    }
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/js/postManagementTags.js" asp-append-version="true"></script>
<script>
    var PostTag;

    $(document).ready(function () {
        PostTag = new PostTagScope();
        PostTag.Init();
    });
</script>