@{
    <footer>
        
        <div class="container text-xs-center footer-div">
            <div class="row" >

                <div class="col-md-12">
                    @await Component.InvokeAsync("SocialComponent")
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2016 - <a href="https://github.com/neufrin/PersonalWebsite" title="PersonalWebsite repository" style="text-decoration: none; color: #fff;">Łukasz Świderski</a></p>
                </div>
            </div>
        </div>
    </footer>
}