
<a asp-controller="Home" asp-action="Index" class="navbar-brand navbar-top-logo">
    <span class="brand-logo">
        <span class="fa-stack fa-lg">
            <i class="fa fa-laptop fa-stack-2x nav-icon"></i>
            <i class="fa fa-compass fa-stack-1x nav-icon"></i>
        </span>
    </span>
    <span class="brand-text">PersonalWebsite</span>
</a>
