<a asp-controller="Home" asp-action="Index" class="navbar-brand navbar-top-logo">
    <span class="brand-logo">

            <span class="logo-img">
                <i class="logo" style="background-image: url(http://localhost:58137/Media/2016_09/avatar.jpg)"></i>
            </span>
            <span class="logo-text">Łukasz Świderski</span>
</span>
</a>