
<a asp-controller="Home" asp-action="Index" class="navbar-brand navbar-top-logo">
    <span class="brand-logo">

            <span class="logo-img">
                <i class="logo" style="background-image: url(https://scontent-waw1-1.cdninstagram.com/t51.2885-19/s150x150/10261124_1037660209640967_736192184_a.jpg)"></i>
            </span>
            <span class="logo-text">Łukasz Świderski</span>

</span>
</a>
