@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <div class="nav navbar-nav">
            <button class="navbar-toggler hidden-sm-up navbar-button" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
                &#9776;
            </button>

            <a asp-controller="Home" asp-action="Index" class="navbar-brand navbar-top-logo">
                <span class="brand-logo">
                <span class="fa-stack fa-lg">
    <i class="fa fa-laptop fa-stack-2x nav-icon"></i>
    <i class="fa fa-compass fa-stack-1x nav-icon"></i>
</span>
                </span>
                <span class="brand-text">PersonalWebsite</span>
            </a>
            <div class="collapse navbar-toggleable-xs" id="CollapsingNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="About" class="nav-link"><i class="fa fa-compass nav-icon" aria-hidden="true"></i>Adventures</a>
                    </li>
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="Contact" class="nav-link"><i class="fa fa-laptop nav-icon" aria-hidden="true"></i>Projects</a>
                    </li>
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="Contact" class="nav-link"><i class="fa fa-comment nav-icon" aria-hidden="true"></i>Blog</a>
                    </li>
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="Contact" class="nav-link"><i class="fa fa-user nav-icon" aria-hidden="true"></i>About</a>
                    </li>
                    </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
           
        </div>
    </nav>
}
