@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="nav-side-menu">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a asp-area="Admin" asp-controller="Home" class="nav-link">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                </a>
            </li>

            <li data-toggle="collapse" data-target="#posts-menu" class="collapsed">
                <a asp-area="Admin" asp-controller="Post"><i class="fa fa-globe fa-lg"></i> Posts <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="posts-menu">
                <li><a asp-area="Admin" asp-controller="Post" class="nav-link"><i class="fa fa-users fa-lg"></i> All</a></li>
                <li><a asp-area="Admin" asp-controller="Post" asp-action="Add" class="nav-link"><i class="fa fa-users fa-lg"></i> Add</a></li>
            </ul>


            <li>
                <a href="#">
                    <i class="fa fa-user fa-lg"></i> Profile
                </a>
            </li>
            
            <li>
                <a asp-area="Admin" asp-controller="Settings" asp-action="Index" class="nav-link"><i class="fa fa-users fa-lg"></i> Settings</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Tags" asp-action="Index" class="nav-link"><i class="fa fa-users fa-lg"></i> Tags</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link"><i class="fa fa-users fa-lg"></i> Category</a>
            </li>
        </ul>
    </div>
</div>