@using PersonalWebsite.Services.Models
@model AddCategoryViewModel


<h4>Add New Category</h4>

<form class="form">
    <div class="form-group">
        <label asp-for="Name" class="sr-only"></label>
        <div class="input-group">
            <input asp-for="Name" type="text" class="form-control" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Tittle" class="sr-only"></label>
        <div class="input-group">
            <input asp-for="Tittle" type="text" class="form-control" placeholder="Tittle">
        </div>
    </div>
    <button type="button" onclick="AdminCategory.AddCategory('@Url.Action("Add", "Category", new { Area = "Admin" })', $('#Name').val(), $('#Tittle').val())" class="btn btn-primary">Add</button>
</form>