@model List<PersonalWebsite.Common.InstagramDTO>

<style>
    .ig-img {
        padding: 3px;
    }
</style>
<div class="container">
    <div class="row">
        @foreach (var image in Model)
        {
            <div class="col-md-4 ig-img">
                <a href="@image.Link" target="_blank">
                    <img src="@image.ImgURL" class="img-fluid"/>
                </a>
            </div>
            
        }
        
    </div>
</div>




