@using PersonalWebsite.Services.Models
@model List<TagViewModel>
@{
}
<table>
    <thead>
        <tr>
            <th>
                Tag
            </th>
            <th>
                Uses (redirect to page with all post uses this tag)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td><a class="tag-edit-button" href="#" onclick="AdminTag.EditTag('@Url.Action("GetEditTagComponent", "Tags", new { Area = "Admin" })',@tag.TagId);">@tag.Name</a></td>
                <td><a href="@tag.TagId"> @tag.Uses</a> </td>
            </tr>
        }
    </tbody>
</table>
