@{
    Layout = "_Layout";
}

<div class="container">
    <div style="background-image: url('images/avatar.jpg');
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: contain;
    margin: 50px auto;">
        
    </div>
    <div class="post card ">
        <div class="card-block">
            <h1 class="text-xs-center card-title">About</h1>

            <div class="post-content" style="text-align: justify;">
                <p>My name is Łukasz Świderski or easier for non-polish speakers just Lucas, but on the web I’m using nickname: neufrin.
                    I was born in Bialystok, in northeastern Poland. I graduate from Bialystok University of Technology, PL with Bachelor of Engineering degree in Computer Science. Now, I am waiting for graduation of MA degree at the same university. Twice, also I participated in a student exchange program “Erasmus” at the Universidade da Beira Interior in Portugal.</p>
                <p>I’m the programmer/coder because I always wanted to do something more than just use. I was thinking how the videogames on my Playstation console works, and I was asking can I make my own game? In that time I didn’t have access to the internet, I didn’t have even computer, but later when I was teenager I started to create my own worlds/maps to some online games, next I’ve learned how to program the hacks to the videogames, I’ve learned how the video games works.</p>
                <p>Nowadays I work as C# Full stack Software Developer, and I spend my free time in expand my knowledge by doing some side projects</p>

                <p>I am native polish speaker and I am learning English (actually B2) and Portuguese (A1)</p>
                <p>If I’m interested in gamedev I’m also a gamer of course. I like that kind of entertainment, I like to spend my time playing in some co-op games with my friends or just be a part of great story.</p>
                <p>Next big thing in my life are travels. From an early age, parents used to take me to some places in the country. Now I’m traveling by myself or with friends. I decided to go study on abroad (not exactly but on exchange program). I can call myself as "forever Erasmus" because I did it twice in small and calm portuguese city. I am trying to get the best photos from the places I have visited, even if I am only amateur photographer. In some places I’m finding the caches for Geocaching game.</p>

            </div>
        </div>
        <div class="card-block">
            
                <h2 style="padding-left: 25px;">

                    Education


                </h2>
           
                <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1akQRlnEGM45S8lTc97jmI1kne64mnvjeIJezPwLOusU&font=Default&lang=en&start_at_end=true&hash_bookmark=true&initial_zoom=0&height=650' width='100%' height='650' frameborder='0'></iframe>
             </div>
        <div class="card-block">
            
                <h2 style="padding-left: 25px;">Work</h2>
            
                <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=11CH_uR4a3kpt399vQGGDpuund4mlEdnaJlsRFTE0xtI&font=Default&lang=en&start_at_end=true&hash_bookmark=true&initial_zoom=0&height=650' width='100%' height='650' frameborder='0'></iframe>

        </div>
    </div>
</div>