@{
    Layout = "_Layout";
}

<div class="container">
    <div class="post card ">
    <div class="card-block">
        <h1 class="text-xs-center card-title">About</h1>

        <div class="post-content" style="text-align: justify;">
            <p>My name is Łukasz Świderski or easier for non-polish speakers just Lucas, but on the web I’m using nickname: neufrin.
                I was born in Bialystok, in northeastern Poland. I’m doing the master of Computer Science at the Bialystok University of Technology, but last year I spent at student exchange program called “Erasmus” at the Universidade da Beira Interior in Portugal.</p>
            <p>I’m the programmer/coder because I always wanted to do something more than just use. I was thinking how the videogames on my Playstation console works, and I was asking can I make my own game? In that time I didn’t have access to the internet, I didn’t have even computer, but later when I was teenager I started to create my own worlds/maps to some online games, next I’ve learned how to program the hacks to the videogames, I’ve learned how the video games works.</p>
            <p>Now I’m the C# Software Developer with some indie GameDev hobby.</p>
            <p>In the past I had contact with:</p>
            <p style="text-align: justify;"><span class="tag tag-primary">C#</span> <span class="tag tag-primary">MVC</span> <span class="tag tag-primary">WPF</span> <span class="tag tag-primary">XAML</span> <span class="tag tag-primary">HTML</span> <span class="tag tag-primary">CSS</span> <span class="tag tag-primary">Javascript</span> <span class="tag tag-primary">jQuery</span> <span class="tag tag-primary">RWD</span> <span class="tag tag-primary">WordPress</span> <span class="tag tag-primary">SFML library</span> <span class="tag tag-primary">XNA/MONOGAME</span> <span class="tag tag-primary">UNITY 3D</span> <span class="tag tag-primary">Leap Motion Controller</span> <span class="tag tag-primary">Legacy OpenGL</span></p>
            <p>I am native polish speaker and I am learning English (actually B2) and Portuguese (A1)</p>
            <p>If I’m interested in gamedev I’m also a gamer of course. I like that kind of entertainment, I like to spend my time playing in some co-op games with my friends or just be a part of great story.</p>
            <p>Next big thing in my life are travels. From an early age parents used to take me to some places in the country. Now I’m traveling by myself or with friends. I decided to go study on abroad (not exactly but on exchange program). I’m calling myself forever Erasmus because I did it twice in small and calm portuguese city. I am trying to get the best photos from the places I have visited, even if I am only amateur photographer. In some places I’m finding the caches for Geocaching game.</p>
            <p>I am not a great writer and because of that on this blog for most of time you can find only photo reports with small commentary</p>
        </div>
    </div>
    </div>
</div>