@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}
<div class="backgroundimg">
    <div class="index-header">
        <!--<div class="index-logo">
            <img src="http://localhost:5000/Media/2016_09/avatar.jpg" />
        </div>-->
        <h1 class="index-header-text"> Łukasz Świderski</h1>
        <br />
        <h2 class="index-header-text">
            <span data-toggle="tooltip" data-placement="top" title="FullStack C# .NET MVC">Software Developer</span>,
            <span data-toggle="tooltip" data-placement="bottom" title="And amateur photographer">Traveler</span>,
            <span data-toggle="tooltip" data-placement="right" title="I <3 retro consoles">Geek</span>
        </h2>
    </div>
</div>
<style>
    body {
     background: url('images/SAM_4928.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    }
</style>