@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<PersonalWebsite.Services.Models.SettingViewModel> 
@{
    Layout = "_AdminLayout";
}
<br />
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Setting Name</th>
            <th>Value</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var setting in Model)
        {
            <tr>
                <td>@setting.Name</td>
                <td>@setting.Value</td>
                <td>@setting.Type</td>
                <td><a asp-area="Admin" asp-controller="Settings" asp-action="Edit" asp-route-id="@setting.SettingId">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
<a asp-area="Admin" asp-controller="Settings" asp-action="Add" class="btn btn-primary">Add new setting</a>