@{
    Layout = "_AdminLayout";
}

        <div class="col-md-4">
            <div id="tag-list" class="card card-block">
               @await Component.InvokeAsync("AdminTagList")
            </div>
        </div>
        <div class="col-md-4">
            <div id ="tag-add-edit-box" class="card card-block">
                @await Component.InvokeAsync("AdminAddEditTag")
                
            </div>
        </div> 

<script>
    var AdminTag;

    $(document).ready(function () {
        AdminTag = new AdminTagScope();
        AdminTag.Init();
    });

    function AdminTagScope() {
        var self = this;
        var addEditBox, listBox, refreshUrl;

        this.Init = function () {
            addEditBox = $('#tag-add-edit-box');
            listBox = $('#tag-list');
            refreshUrl ='@Url.Action("GetAll", "Tags", new { Area = "Admin" })';
        };
        this.EditTag = function (actionUrl, id) {
            $.ajax({
                type: "POST",
                url: actionUrl,
                data: {
                    Id: id
                },
                dataType: "html",
                success: function (response) {
                    addEditBox.html(response);
                    self.RefreshList();
                },
                error: function (e) {
                    alert('something goes wrong');
                }
            });
        };

        this.SaveTag = function (actionUrl, id, name) {
            $.ajax({
                type: "POST",
                url: actionUrl,
                traditional: true,
                data: {
                    TagId: id,
                    Name: name
                },
                dataType: "html",
                success: function (response) {
                    addEditBox.html(response);
                    self.RefreshList();
                },
                error: function (e) {
                    debugger;
                    alert('something goes wrong');
                }
            });
        };
        this.Cancel = function (actionUrl) {
            $.ajax({
                type: "POST",
                url: actionUrl,
                traditional: true,
                data: {},
                dataType: "html",
                success: function (response) {
                    addEditBox.html(response);
                    self.RefreshList();
                },
                error: function (e) {
                    alert('something goes wrong');
                }
            });
        };

        this.RefreshList = function () {
            var actionUrl = $('#tag-list').data('request-url');
            $.ajax({
                type: "POST",
                url: refreshUrl,
                traditional: true,
                data: {},
                dataType: "html",
                success: function (response) {
                    listBox.html(response);
                },
                error: function (e) {
                    debugger;
                    alert('something goes wrong');
                }
            });
        };

        this.AddTag = function (actionUrl, name) {
            $.ajax({
                type: "POST",
                url: actionUrl,
                traditional: true,
                data: {
                    Name: name
                },
                dataType: "html",
                success: function (response) {
                    addEditBox.html(response);
                    self.RefreshList();
                },
                error: function (e) {
                    alert('something goes wrong');
                }
            });
        };

        this.Delete = function (actionUrl, id) {
            $.ajax({
                type: "POST",
                url: actionUrl,
                traditional: true,
                data: {
                    Id: id,
                },
                dataType: "html",
                success: function (response) {
                    addEditBox.html(response);
                    self.RefreshList();
                },
                error: function (e) {
                    debugger;
                    alert('something goes wrong');
                }
            });
        };

    }

</script>
    