@using PersonalWebsite.Services.Models
@model AddTagViewModel
@{
}
<p>Strange component item</p>

@Html.EditorFor(x => x.Name)

<button onclick="AdminTag.AddTag('@Url.Action("Add", "Tags", new { Area = "Admin" })')">Add</button>